INDEXER_PASSWORD=<CHANGE_ME>
WAZUH_API_PASSWORD=<CHANGE_ME>
DASHBOARD_PASSWORD=<CHANGE_ME>
POSTGRES_PASSWORD=<CHANGE_ME>

REDIS_PASSWORD=<CHANGE_ME>
MYSQL_PASSWORD=<CHANGE_ME>
MYSQL_ROOT_PASSWORD=<CHANGE_ME>
SUPERVISOR_PASSWORD=<CHANGE_ME>

ADMIN_PASSWORD=<CHANGE_ME>
ADMIN_KEY=<YOUR_MISP_API_KEY>
ENCRYPTION_KEY=<CHANGE_ME>
SALT=<CHANGE_ME>
